
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.PatientManagement.Cabinets.EntityPlural");
}

<div id="GridDiv"></div>

    
<script type="text/javascript">
    jQuery(function () {
        new PatientManagement.PatientManagement.CabinetsGrid($('#GridDiv'), { }).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>