
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.PatientManagement.Cabinets.EntityPlural");
}
@section Head {
    <!-- Google Maps -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAVFshjFz13i9kcQDkKXE9uDA2nwk9zc_k&amp;sensor=false&amp;libraries=places"></script>


    <script src="~/Scripts/geocomplete/jquery.geocomplete.js"></script>
}

<div id="GridDiv"></div>

    
<script type="text/javascript">
    jQuery(function () {
        new PatientManagement.PatientManagement.CabinetsGrid($('#GridDiv'), { }).init();

        Q.initFullHeightGridPage($('#GridDiv'));

        // TODO: Move to template for dialog 

        $('.City').after('<div class="field map_input" />');
        $('body').append('<input type="hidden" id="geocomplete-hidden"/>');
        $("#geocomplete-hidden").on('geocomplete',
            function () {
                $('.map_input').height(200);
               
                var options = {
                    map: ".map_input"
                };
                $(".geocomplete").geocomplete(options).bind("geocode:result", function(event, result){
                        console.log("Result: " + result.formatted_address);
                    })
                    .bind("geocode:error", function(event, status){
                        console.log("ERROR: " + status);
                    })
                    .bind("geocode:multiple", function(event, results){
                        console.log("Multiple: " + results.length + " results found");
                    });
            });

    });

    
    $(".geocomplete").trigger('geocomplete');
</script>