
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Administration.Subscriptions.EntityPlural");
}

@section Head {
    <link rel="stylesheet" href="~/Scripts/morris/morris.css">
    <script src="~/Scripts/raphael/raphael-min.js"></script>
    <script src="~/Scripts/morris/morris.min.js"></script>
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new PatientManagement.Administration.SubscriptionsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>