@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.PatientManagement.MedicalSpecialty.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new PatientManagement.PatientManagement.MedicalSpecialtyGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>