@using PatientManagement.PatientManagement

@{
    ViewData["Title"] = Serenity.LocalText.Get("Navigation.Reports");
}
<div class="row">


    @if (Authorization.HasPermission(PatientManagementPermissionKeys.ReportsNewPatientsThisMonth))
    {
        <div id="newPatientsThisMonth"></div>
        <script>
            jQuery(document).ready(function () {
                new PatientManagement.PatientManagement.NewPatientsThisMonth($("#newPatientsThisMonth"), {});
            });
        </script>
    }
    @if (Authorization.HasPermission(PatientManagementPermissionKeys.ReportsNewVisitsThisMonth))
    {
        <div id="newVisitsThisMonth"></div>
        <script>
            jQuery(document).ready(function () {
                new PatientManagement.PatientManagement.NewVisitsThisMonth($("#newVisitsThisMonth"), {});
            });
        </script>
    }
</div>