@import "site.theme.less";
@import "site.mixins.less";
@import "site.administration.less";
@import "site.membership.less";
@import "site.northwind.less";


.s-PatientManagement-PatientsDialog {
    > .size { width: 700px; min-height: 550px; }
    .caption { width: 150px; }
}

.s-PatientManagement-VisitTypesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-VisitTypesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-VisitsInfoDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-VisitsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-SysdiagramsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}


.s-PatientManagement-PatientHealthDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-NotesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-LifeStylesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-PatientHealthDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-PatientHealthDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-NotesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-NotesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-PatientVisitsDialog {
    > .size {
        width: 550px;
        height: 520px;
    }

    .caption {
        width: 150px;
    }
}

.dashboard-visitsgrid {
    .s-CalendarVisitsGrid {
        height: 820px;
    }
}

.s-PatientManagement-PatientsFileUploadsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Administration-TenantDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Administration-TenantDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-ActivityDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-ActivityDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-NotificationsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-NotificationsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-UserNotificationsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-UserNotificationsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-UserNotificationsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Administration-CurrenciesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Administration-OffersDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Administration-OffersDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Administration-SubscriptionsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Administration-PaymentsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Administration-PaymentsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Administration-SubscriptionsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Administration-PaymentsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Administration-PaymentOptionsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Administration-PaymentsDetailsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Administration-TenantDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Administration-TenantDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Administration-SubscriptionsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-OfferDropDownEditor{
    width: 320px;
}

.s-SubscriptionsGrid {
    .active {
            background-color: #4fff62;
        
    }
}