@import "site.theme.less";
@import "site.mixins.less";
@import "site.administration.less";
@import "site.membership.less";


.s-PatientManagement-PatientsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-PatientsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-VisitTypesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-VisitTypesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-VisitsInfoDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-VisitsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-SysdiagramsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-PatientsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-PatientHealthDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-NotesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-LifeStylesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-PatientHealthDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-PatientHealthDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-NotesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-PatientManagement-NotesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}