
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Administration.Payments.EntityPlural");
}

<div id="GridDiv"></div>


<script type="text/javascript">
    jQuery(function () {
        new PatientManagement.Administration.PaymentsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>