@using PatientManagement.PatientManagement

@{
    ViewData["Title"] = Serenity.LocalText.Get("Navigation.Reports");
}


@{Html.RenderPartial(MVC.Views.PatientManagement.Reports.Shared.ReportsTopMenuPartial);}

<div class="row">


</div>