@using PatientManagement.Reservation.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.Doctors; //The menu item will be active for this page.
}
<section class="short-image no-padding agency">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-12 short-image-title">
                <h5 class="subtitle-margin second-color">запознай се</h5>
                <h1 class="second-color">с нашите специалисти</h1>
                <div class="short-title-separator"></div>
            </div>
        </div>
    </div>
</section>
<section class="section-light section-top-shadow">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-lg-3">
                        <img src="images/page-photo.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="col-xs-8 col-sm-8 col-lg-9">
                        <p class="negative-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                        <br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                    </div>
                </div>
                <div class="margin-top-75"></div>
                <div class="row">
                    <div class="col-xs-12 col-lg-6">
                        <h5 class="subtitle-margin">LOCALIZATION: ALL</h5>
                        <h1>96 doctors found<span class="special-color">.</span></h1>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <div class="order-by-container">
                            <div class="btn-group bootstrap-select">
                                @*<button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="Localization:" aria-expanded="false">
                                    <span class="filter-option pull-left">Localization:</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span>
                                </button>*@
                                <select name="transaction1" class="bootstrap-select" title="Localization:" tabindex="-98">
                                    <option class="bs-title-option" value="">Localization:</option>
                                    <option>Localization 1</option>
                                    <option>Localization 2</option>
                                    <option>Localization 3</option>
                                    <option>Some Long Localization 4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="title-separator-primary"></div>
                    </div>
                </div>
            <div class="row team-member-row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 team-member-col">
                <div class="team-member">
                    <div class="team-photo">
                        <img src="images/agent2.jpg" alt="">
                        <div class="big-triangle"></div>
                        <div class="big-triangle2"></div>
                        <a class="big-icon big-icon-plus" href="agent-right-sidebar.html"><i class="jfont"></i></a>
                        <div class="team-description">
                            <div>
                                <div class="team-desc-line">
                                    <span class="team-icon-circle">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                    <span>(0)-123-456-789</span>
                                </div>
                                <div class="team-desc-line">
                                    <span class="team-icon-circle">
                                        <i class="fa fa-envelope fa-sm"></i>
                                    </span>
                                    <span>apartment@domain.tld</span>
                                </div>
                                <div class="team-social-cont">
                                    <div class="team-social">
                                        <a class="team-icon-circle" href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                    <div class="team-social">
                                        <a class="team-icon-circle" href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </div>
                                    <div class="team-social">
                                        <a class="team-icon-circle" href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                    <div class="team-social">
                                        <a class="team-icon-circle" href="#">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                    </div>
                                </div>
                                <p class="team-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="team-name">
                        <h5>Agent</h5>
                        <h4>Michelle Jackson<span class="special-color">.</span></h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 team-member-col">
                <div class="team-member">
                    <div class="team-photo">
                        <img src="images/agent3.jpg" alt="">
                        <div class="big-triangle"></div>
                        <div class="big-triangle2"></div>
                        <a class="big-icon big-icon-plus" href="agent-right-sidebar.html"><i class="jfont"></i></a>
                        <div class="team-description">
                            <div>
                                <div class="team-desc-line">
                                    <span class="team-icon-circle">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                    <span>(0)-123-456-789</span>
                                </div>
                                <div class="team-desc-line">
                                    <span class="team-icon-circle">
                                        <i class="fa fa-envelope fa-sm"></i>
                                    </span>
                                    <span>apartment@domain.tld</span>
                                </div>
                                <div class="team-social-cont">
                                    <div class="team-social">
                                        <a class="team-icon-circle" href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                    <div class="team-social">
                                        <a class="team-icon-circle" href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </div>
                                    <div class="team-social">
                                        <a class="team-icon-circle" href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                    <div class="team-social">
                                        <a class="team-icon-circle" href="#">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                    </div>
                                </div>
                                <p class="team-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="team-name">
                        <h5>specialist</h5>
                        <h4>Robert Duncan<span class="special-color">.</span></h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 team-member-col">
                <div class="team-member">
                    <div class="team-photo">
                        <img src="images/agent4.jpg" alt="">
                        <div class="big-triangle"></div>
                        <div class="big-triangle2"></div>
                        <a class="big-icon big-icon-plus" href="agent-right-sidebar.html"><i class="jfont"></i></a>
                        <div class="team-description">
                            <div>
                                <div class="team-desc-line">
                                    <span class="team-icon-circle">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                    <span>(0)-123-456-789</span>
                                </div>
                                <div class="team-desc-line">
                                    <span class="team-icon-circle">
                                        <i class="fa fa-envelope fa-sm"></i>
                                    </span>
                                    <span>apartment@domain.tld</span>
                                </div>
                                <div class="team-social-cont">
                                    <div class="team-social">
                                        <a class="team-icon-circle" href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                    <div class="team-social">
                                        <a class="team-icon-circle" href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </div>
                                    <div class="team-social">
                                        <a class="team-icon-circle" href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                    <div class="team-social">
                                        <a class="team-icon-circle" href="#">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                    </div>
                                </div>
                                <p class="team-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="team-name">
                        <h5>agent</h5>
                        <h4>Veronica Green<span class="special-color">.</span></h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 team-member-col">
                <div class="team-member">
                    <div class="team-photo">
                        <img src="images/agent5.jpg" alt="">
                        <div class="big-triangle"></div>
                        <div class="big-triangle2"></div>
                        <a class="big-icon big-icon-plus" href="agent-right-sidebar.html"><i class="jfont"></i></a>
                        <div class="team-description">
                            <div>
                                <div class="team-desc-line">
                                    <span class="team-icon-circle">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                    <span>(0)-123-456-789</span>
                                </div>
                                <div class="team-desc-line">
                                    <span class="team-icon-circle">
                                        <i class="fa fa-envelope fa-sm"></i>
                                    </span>
                                    <span>apartment@domain.tld</span>
                                </div>
                                <div class="team-social-cont">
                                    <div class="team-social">
                                        <a class="team-icon-circle" href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                    <div class="team-social">
                                        <a class="team-icon-circle" href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </div>
                                    <div class="team-social">
                                        <a class="team-icon-circle" href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                    <div class="team-social">
                                        <a class="team-icon-circle" href="#">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                    </div>
                                </div>
                                <p class="team-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="team-name">
                        <h5>agent</h5>
                        <h4>Timothe Lee<span class="special-color">.</span></h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 team-member-col">
                <div class="team-member">
                    <div class="team-photo">
                        <img src="images/agent6.jpg" alt="">
                        <div class="big-triangle"></div>
                        <div class="big-triangle2"></div>
                        <a class="big-icon big-icon-plus" href="agent-right-sidebar.html"><i class="jfont"></i></a>
                        <div class="team-description">
                            <div>
                                <div class="team-desc-line">
                                    <span class="team-icon-circle">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                    <span>(0)-123-456-789</span>
                                </div>
                                <div class="team-desc-line">
                                    <span class="team-icon-circle">
                                        <i class="fa fa-envelope fa-sm"></i>
                                    </span>
                                    <span>apartment@domain.tld</span>
                                </div>
                                <div class="team-social-cont">
                                    <div class="team-social">
                                        <a class="team-icon-circle" href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                    <div class="team-social">
                                        <a class="team-icon-circle" href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </div>
                                    <div class="team-social">
                                        <a class="team-icon-circle" href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                    <div class="team-social">
                                        <a class="team-icon-circle" href="#">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                    </div>
                                </div>
                                <p class="team-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="team-name">
                        <h5>agent</h5>
                        <h4>Joanne Doe<span class="special-color">.</span></h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 team-member-col">
                <div class="team-member">
                    <div class="team-photo">
                        <img src="images/agent1.jpg" alt="">
                        <div class="big-triangle"></div>
                        <div class="big-triangle2"></div>
                        <a class="big-icon big-icon-plus" href="agent-right-sidebar.html"><i class="jfont"></i></a>
                        <div class="team-description">
                            <div>
                                <div class="team-desc-line">
                                    <span class="team-icon-circle">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                    <span>(0)-123-456-789</span>
                                </div>
                                <div class="team-desc-line">
                                    <span class="team-icon-circle">
                                        <i class="fa fa-envelope fa-sm"></i>
                                    </span>
                                    <span>apartment@domain.tld</span>
                                </div>
                                <div class="team-social-cont">
                                    <div class="team-social">
                                        <a class="team-icon-circle" href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                    <div class="team-social">
                                        <a class="team-icon-circle" href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </div>
                                    <div class="team-social">
                                        <a class="team-icon-circle" href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                    <div class="team-social">
                                        <a class="team-icon-circle" href="#">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                    </div>
                                </div>
                                <p class="team-text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="team-name">
                        <h5>manager</h5>
                        <h4>Mark Smith<span class="special-color">.</span></h4>
                    </div>
                </div>
            </div>
            </div>
                
            <div class="offer-pagination margin-top-15">
                <a href="#" class="prev"><i class="jfont"></i></a><a class="active">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#" class="next"><i class="jfont"></i></a>
                <div class="clearfix"></div>
            </div>
            </div>
        </div>
    </div>
</section>