@using PatientManagement.Reservation.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.Cabinets; //The menu item will be active for this page.
}

<section class="short-image no-padding agency">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-12 short-image-title">
                <h5 class="subtitle-margin second-color">намери</h5>
                <h1 class="second-color">най - добрия кабинет</h1>
                <div class="short-title-separator"></div>
            </div>
        </div>
    </div>
</section>
<section class="section-light section-top-shadow">
    <div class="container">
        <div class="row">
            
        </div>
    </div>
</section>