@using PatientManagement.PatientManagement

@model PatientManagement.Dashboard.DashboardPageModel
@{
    ViewData["Title"] = "Dashboard";
    ViewData["PageId"] = "Dashboard";
}

@section ContentHeader {
    <h1>@LocalText.Get("Navigation.Dashboard")<small>@Html.Raw(Texts.Site.Dashboard.ContentDescription)</small></h1>
}

@section Head {
    <link rel="stylesheet" href="~/Scripts/fullcalendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/Scripts/fullcalendar/fullcalendar.print.css" media="print">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/Scripts/adminlte/demo.js"></script>
    <script src="~/Scripts/jquery-migrate-3.0.0.js"></script>

}

<div class="row">
    <div class="col-md-5">
        <div class="col-md-12">
            <div class="box box-solid box-primary">
                <div class="box-body dashboard-visitsgrid">
                    <div id="VisitsGridDiv"></div>

                    <script type="text/javascript">
                        jQuery(function () {
                            new PatientManagement.PatientManagement.CalendarVisitsGrid($('#VisitsGridDiv'), {}).init();

                            Q.initFullHeightGridPage($('#VisitsGridDiv'));
                        });
                    </script>
                </div>
            </div>


        </div>
    </div><!-- /.col -->
    <div class="col-md-7">
        <div class="box box-primary">
            <div class="box-body no-padding">
                <!-- THE CALENDAR -->
                <div id="calendar"></div>
            </div><!-- /.box-body -->
        </div><!-- /. box -->
    </div><!-- /.col -->
</div><!-- /.row -->

<script>
    $(function () {

        var visitsModel = @Html.Raw(Json.Serialize(Model.EventsList));
        
        /* initialize the calendar   -----------------------------------------------------------------*/
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay, listWeek'
            },
            eventClick: function (event) {
                
                new PatientManagement.PatientManagement.PatientsDialog().loadByIdAndOpenDialog(event.patientId);
                if (event.url) {
                    window.open(event.url);
                    return false;
                }
            }, 

            //events: visitsModel,
            editable: true,
            droppable: true, // this allows things to be dropped onto the calendar !!!
            eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {
                var str = "Сигурни ли сте, че искате да направите тази промяна?\n Пациент: " +
                    event.title +
                    "\n Начална дата: " +
                    event.start.format("YYYY-MM-DD HH:mm:ss") +
                    "\n Крайна дата: " +
                    event.end.format("YYYY-MM-DD HH:mm:ss");

                 if (!confirm(str)) {
                    revertFunc();
                 }

                // Call Function to update the visit
                 var dialog = new PatientManagement.PatientManagement.CalendarVisitsDialog();
                 dialog.updateVisit(event.id, event.start.format("YYYY-MM-DD HH:mm:ss"), event.end.format("YYYY-MM-DD HH:mm:ss"));

                $('#VisitsGridDiv .refresh-button').click();
            },
            eventResize: function(event,dayDelta,minuteDelta,revertFunc) {
                var str = "Сигурни ли сте, че искате да направите тази промяна?\n Пациент: " +
                    event.title +
                    "\n Начална дата: " +
                    event.start.format("YYYY-MM-DD HH:mm:ss") +
                    "\n Крайна дата: " +
                    event.end.format("YYYY-MM-DD HH:mm:ss");
                
                if (!confirm(str)) {
                    revertFunc();
                } 

                var dialog = new PatientManagement.PatientManagement.CalendarVisitsDialog();
                $('#VisitsGridDiv .refresh-button').click();

                dialog.updateVisit(event.id, event.start.format("YYYY-MM-DD HH:mm:ss"), event.end.format("YYYY-MM-DD HH:mm:ss"));
                

            }
           

        });
        $('#calendar').fullCalendar('addEventSource', "/Dashboard/GetVisitsTasks/");
    });
</script>
