
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Administration.Coupons.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new PatientManagement.Administration.CouponsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>