@using PatientManagement.Reservation.Web.Views.Shared.Components.FooterSmallBar
<footer class="small-cont">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 small-cont">
                <img src="images/clario-logo-medium-white.png" alt="" class="img-responsive footer-logo" />
            </div>
            <div class="col-xs-12 col-md-6 footer-copyrights">
                &copy; Copyright @DateTime.Now.Year <a href="~/" target="blank">
                    Clario
                </a>. All rights reserved. Software from <a href="http://s2kdesign.com" target="blank">
                    http://s2kdesign.com
                </a>.
            </div>
        </div>
    </div>
</footer>