@using PatientManagement.Reservation.Web.Views.Shared.Components.MainTopBar
@model MainTopBarViewModel

<div class="top-bar-wrapper">
    <div class="container top-bar">
        <div class="row">
            <div class="col-xs-5 col-sm-8">
                <div class="top-mail pull-left hidden-xs">
                    <span class="top-icon-circle">
                        <i class="fa fa-envelope fa-sm"></i>
                    </span>
                    <span class="top-bar-text">info@CLARIO.com</span>
                </div>
                <div class="top-phone pull-left hidden-xxs">
                    <span class="top-icon-circle">
                        <i class="fa fa-phone"></i>
                    </span>
                    <span class="top-bar-text">+359 32 642826 - Телефон</span>
                </div>
                <div class="top-localization pull-left hidden-sm hidden-md hidden-xs">
                    <span class="top-icon-circle pull-left">
                        <i class="fa fa-map-marker"></i>
                    </span>
                    <span class="top-bar-text">
                        ул.Гладстон 40
                        Пловдив, България
                    </span>
                </div>
            </div>
            <div class="col-xs-7 col-sm-4">
                @if (User.Identity.IsAuthenticated)
                {

                    <div class="top-social-last top-dark pull-right">
                        @*<div class="email">@Model.LoginInformations.User.EmailAddress</div>*@
                        <span class="top-bar-text">@Html.Raw(Model.GetShownLoginName())</span>
                    </div>
                    <div class="top-social-last top-dark pull-right">
                        <a class="top-icon-circle" href="@Url.Action("Logout", "Account")">
                            <i class="fa fa-lock"></i>
                            @L("Logout")
                        </a>
                    </div>

                }
                else
                {
                    <div class="top-social-last top-dark pull-right" data-toggle="tooltip" data-placement="bottom" title="Login/Register">
                        <a class="top-icon-circle" href="#login-modal" data-toggle="modal">
                            <i class="fa fa-lock"></i>
                        </a>
                    </div>
                    
                }


                <div class="top-social pull-right">
                    <a class="top-icon-circle" href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
                @*<div class="top-social pull-right">
                        <a class="top-icon-circle" href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>
                    <div class="top-social pull-right">
                        <a class="top-icon-circle" href="#">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div>
                    <div class="top-social pull-right">
                        <a class="top-icon-circle" href="#">
                            <i class="fa fa-skype"></i>
                        </a>
                    </div>*@
            </div>
        </div>
    </div><!-- /.top-bar -->
</div><!-- /.Page top-bar-wrapper -->