
@if ((bool?)ViewData["Printing"] == true)
{
    Layout = MVC.Views.Shared._LayoutNoNavigation;
}
<style>
    .terms-wrapper {
        font-size: 16px;
    }

    .terms-paragraph-heading {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
    }
</style>
<div class="terms-wrapper">
    <p>
        Настоящите общи условия са предназначени за регулиране на отношенията между "АЙ
        ПИ" ООД, ЕИК: 115329255, със седалище и адрес на управление: гр. Пловдив, район
        Централен, ул.Алцеко № 16, ет.6, представлявано от управителя – Иван Димов Попов,
        наричано по-долу за краткост ДОСТАВЧИК, и потребителите, наричани по-
        долу ПОЛЗВАТЕЛИ, на предоставяната от него услуга " софтуерен продукт CLARIO",
        наричана по-долу Услугата.
    </p>
    <h3 class="terms-paragraph-heading">
        І. ДАННИ ЗА ДОСТАВЧИКА
    </h3>
    <strong>Чл.1 </strong>
    <br />
    (1). Информация за Доставчика на Услугата:
    <ol>
        <li>Наименование на Доставчика: "АЙ ПИ" ООД</li>
        <li>
            Седалище и адрес на управление: гр. Пловдив, район Централен, ул. ”Алцеко”
            № 16, ет.6
        </li>
        <li>
            Адрес за упражняване на дейността: гр. Пловдив, район Централен, ул.
            ”Гладстон” № 40
        </li>
        <li>Данни за кореспонденция гр. Пловдив, район Централен, ул. ”Гладстон” № 40</li>
        <li>Вписване в публични регистри: 20120109181605</li>
        <li>Регистрация по Закона за данък върху добавената стойност № BG115329255</li>
    </ol>
    (2). Надзорни органи:
    <br />
    Комисия за защита на личните данни
    Адрес: гр. София, бул. "Проф. Цветан Лазаров" № 2,
    тел.: (02) 915 35 18
    Уеб сайт: www.cpdp.bg
    <br />
    Комисия за защита на потребителите
    Адрес: гр.Пловдив, кв. Кършияка, ул."Васил Левски" № 50,
    тел.: 032 / 631 778
    гореща линия: 0700 111 22
    Уеб сайт: www.kzp.bg
    <br />
    <h3 class="terms-paragraph-heading">
        II. ХАРАКТЕРИСТИКА НА УСЛУГАТА:
    </h3>
    <strong>Чл. 2. </strong>
    Услугата предоставяна от Доставчика представлява " софтуерен продукт
    CLARIO "- предназначен за дигитализиране на досиета на пациенти и съпътстващите ги
    визити за клиники, медицински и стоматологични кабинети.
    <br />
    <strong>Чл. 3. </strong>
    Доставчикът предоставя, а Ползвателите използват Услугата съгласно
    параметри, определени в зависимост от избрания абонаментен план.
    <br />
    <strong>Чл. 4. </strong>
    Услугата " софтуерен продукт CLARIO " включва следното:
    <ol>
        <li>
            Предоставяне на свободно пространство/достъп до сървър на Доставчика, където
            е инсталиран софтуерния продукт CLARIO, на което Ползвателят има право да
            публикува, съхранява, обработва и споделя с трети лица (пациенти) в Интернет
            информация;
        </li>
        <li>
            Предоставяне на достъп за управление на Услугата и за публикуване, обработване
            и разпореждане с информация, споделена на предоставеното пространство;
        </li>
        <li>
            Предоставяне на параметри на услугата, съгласно избрания от Ползвателя
            абонаментен план;
        </li>
        <li>
            Предоставяне на виртуално заделена за ползване част от ресурсите на софтуерния
            продукт CLARIO за предаване, съхраняване и споделяне на информация и
            предоставяне на услуги на третите лица(пациенти).
        </li>
        <li>
            Предоставяне на техническа изправност на Услугата и реакция при възникнали
            проблеми;
        </li>
        <li>Регулярно архивиране (бекъп) на съдържанието на сървъра</li>
        <li>
            Криптиране на съдържанието на сървъра по отношение на личните данни на
            третите лица (пациенти) на Ползвателя
        </li>
        <li>Съхраняване на информацията на Ползвателя за срок от един месец</li>
    </ol>
    <strong>Чл. 5. </strong>
    Ползвателят не придобива права на собственост върху софтуерния продукт
    CLARIO и сървъра на ДОСТАВЧИКА, използван за предоставяне на Услугата.
    <h3 class="terms-paragraph-heading">
        III. ЦЕНА НА УСЛУГАТА
    </h3>
    <strong>Чл. 6.</strong>
    <br />
    (1) Ползвателят заплаща на Доставчика месечно възнаграждение за
    предоставената Услуга в размер, определен в зависимост от избрания от Ползвателя
    план. Информация за различните абонаментни планове е достъпна на адрес:
    www.myclario.com
    <br />
    (2) Предоставянето на услугата, започва след заплащане на възнаграждението от
    Ползвателя като Доставчика потвърждава получаване на плащането чрез активиране на
    Услугата и чрез друго подходящо потвърждение по електронен път.
    <br />
    (3) За извършване на плащането за услугата , Доставчикът следва да издаде
    електронна фактура на името на лицето, което следва да плати услугата и да я изпрати
    на посочената от него електронна поща или при липса на такава – на електронната поща,
    посочена от Ползвателя при регистрацията. Независимо от извършването на плащане и
    издаване на фактура, страна по този договор и титуляр на правата върху хостинг услугата
    е Доставчикът.
    <br />
    <strong>Чл. 7. </strong>
    <br />
    (1) Доставчикът има право да предоставя на Ползвателя допълнителни
    услуги, свързани с ползването на Услугата срещу отделно възнаграждение платимо от
    Ползвателя. Цените и видовете Допълнителни услуги се определят от Доставчика на
    сайта на Доставчика на адрес: www.myclario.com

    <h3 class="terms-paragraph-heading">
        IV. ПРЕДОСТАВЯНЕ НА УСЛУГАТА И ТЕХНИЧЕСКИ СТЪПКИ ЗА
        СКЛЮЧВАНЕ НА ДОГОВОРА
    </h3>
    <strong>Чл. 8.  </strong>
    <br />
    (1) За да използва Услугата, Ползвателят следва да натисне бутон „Поръчай
    сега“, след което да избере предпочитания от него абонаментен план и да се регистрира.
    <br />
    (2) С попълване на данните си и натискане на бутоните "Потвърди",
    "Регистрация" или друго изявление в смисъл на съгласие, Ползвателят декларира, че е
    запознат с тези общи условия, съгласен е с тяхното съдържание и се задължава
    безусловно да ги спазва.
    <br />
    (3) Доставчикът потвърждава извършената от Ползвателя регистрация, чрез
    изпращане на писмо на посочен от Ползвателя електронен адрес, на който се изпращат и
    информация за активиране на регистрацията. Ползвателят потвърждава регистрацията
    чрез електронна препратка в писмото, с което е уведомен за извършената регистрация,
    изпратено от Доставчика. След потвърждаването се създава акаунт на Ползвателя. След
    плащане на услугата и активиране на същата между Ползвателят и Доставчика
    възникват договорни отношения.
    <br />
    (4) При извършване на регистрацията Ползвателят се задължава да предостави
    верни и актуални данни. Ползвателят своевременно да актуализира данните, посочени в
    регистрацията си, в случай на промяна.
    <br />
    (5) В случай, че за регистрация на Ползвателя за ползване на услугата се използва
    профил в уеб социални мрежи или други мрежи, страна по договора е лицето, което е
    титуляр на използвания за регистрацията профил в съответната социална или друга
    мрежа. В този случай Доставчикът има право на достъп до данните, необходими за
    идентифициране на Ползвателя в съответната социална или друга мрежа.
    <br />
    <strong>Чл. 9. </strong>
    <br />
    (1) Ползвателите използват предимно интерфейса на Интернет страницата
    на Доставчика, за извършване на електронни изявления в отношенията помежду им.
    <br />
    (2) Договорът между Доставчика и Ползвателя представлява настоящите общи
    условия, достъпни на адрес www.myclario.com, заедно с всички изменения и допълнения
    в тях.
    <br />
    (3) Доставчикът включва в интерфейса на Интернет страницата си, технически
    средства за установяване и поправяне на грешки при въвеждането на информация, преди
    да бъде направено изявлението за сключване на договора.
    <h3 class="terms-paragraph-heading">
        V. СРОК НА ДОГОВОРА
    </h3>
    <strong>Чл. 10.  </strong>
    <br />
    (1) Договорът се сключва за срок от един месец. Договорът се счита за
    сключен от плащане на цената за услугата по избрания абонаментен план от Ползвателя
    и активиране на услугата от Доставчика.
    <br />
    (2) При прекратяване на договора Доставчикът ще предостави на Потребителя
    подходящ срок (не по-дълъг от един месец)за извличане и съхраняване на информацията
    му. След изтичане на срока Доставчикът ще изтрива информацията от сървъра си.
    <h3 class="terms-paragraph-heading">
        VI. ПРАВА И ЗАДЪЛЖЕНИЯ НА ДОСТАВЧИКА
    </h3>
    <strong>Чл. 11.  </strong>
    Доставчикът се задължава:
    <ol>
        <li>
            Да осигури Услугата " софтуерен продукт CLARIO ", съгласно параметри,
            определени в зависимост от избрания от Ползвателя план;
        </li>
        <li>Да предостави ползването на Услугата " софтуерен продукт CLARIO";</li>
        <li>Да осигури техническа изправност на Услугата;</li>
        <li>
            Да осигури свързаност към Интернет на Услугата "софтуерен продукт CLARIO",
            съгласно параметрите на същата, определени в зависимост от избрания от
            Ползвателя план;
        </li>
        <li>Да осигури подходящи условия за техническо функциониране на Услугата;</li>
        <li>
            Да осигури Услугата с предварително инсталиран и функциониращ софтуер в
            зависимост от избрания от Ползвателя план;
        </li>
        <li>
            Да осигурява съобразно техническите си възможности и съобразно
            обстоятелствата, сигурност на техническото оборудване, използвано за
            предоставяне на Услугата;
        </li>
        <li>Да поддържа Параметрите на услугата и нейната свързаност;</li>
        <li>
            Да предприема мерки за защита на личните данни на Ползвателя и на третите
            лица(пациенти) чрез криптиране на информацията за тях.
        </li>
    </ol>
    <strong>Чл. 12.  </strong>
    Доставчикът има следните права:
    <ol>
        <li>Да получи от Ползвателя възнаграждение за предоставените Услуги;</li>
        <li>Да осъществява постоянен надзор за техническа изправност на Услугата;</li>
        <li>
            Да получи допълнително възнаграждение от Ползвателя за Допълнителни услуги
            във връзка с ползването на Услугата;
        </li>
        <li>
            Да извършва Допълнителни услуги, само след постигане на писмено/ по
            електронен път / съгласие с Ползвателя.
        </li>
        <li>
            Да изисква необходимата според обстоятелствата легитимация от Ползвателя при
            приемането на инструкции от него относно ползването или управлението на
            Услугата;
        </li>
        <li>
            Да ограничи или прекрати временно и постоянно ползването на Услугата, ако
            установи, че Ползвателят я използва недобросъвестно или в нарушение на
            българското законодателство, приложимите международни закони, правото на
            Европейския съюз или добрите нрави.
        </li>
    </ol>
    <strong>Чл. 13.  </strong>
    <br />
    (1) Доставчикът предоставя необходимото съдействие на държавните органи
    при законосъобразното упражняване на техните правомощия във връзка с провеждане на
    процесуално-следствени действия, включително и следното:
    <ul>
        <li>Предоставяне на информация за Ползвателя и Услугата;</li>
        <li>Предоставяне на лични данни на Ползвателя;</li>
        <li>Предоставяне на друга информация съгласно закона.</li>
    </ul>
    (2) При осъществяването на действията по ал. 1, Доставчикът не е задължен да
    уведомява Ползвателя, освен в изрично определени в закона случаи.
    <br />
    (3) Ползвателят няма право да претендира обезщетение за вреди в следствие на
    действия на Доставчика по ал. 1.
    <br />
    <h3 class="terms-paragraph-heading">
        VII. ПРАВА И ЗАДЪЛЖЕНИЯ НА ПОЛЗВАТЕЛЯ
    </h3>
    <strong>Чл. 14. </strong>
    Ползвателят се задължава:
    <ol>
        <li>
            Да заплаща на Доставчика, уговореното възнаграждение за ползването на
            Услугата;
        </li>
        <li>
            Да използва добросъвестно Услугата и в съответствие със законодателството на
            Република България, приложимите международни закони, правото на
            Европейския съюз или добрите нрави;
        </li>
        <li>
            Да използва Услугата по предназначение и по начина, по който не уврежда
            другите ползватели (клиенти) на Доставчика
        </li>
        <li>
            Да не пречи и/или възпрепятства функционирането на техниката/сървъра на
            Доставчика;
        </li>
        <li>
            Да не използва функционалността на Услугата по-начин, който не съответства на
            нейното предназначение
        </li>
        <li>
            Да не извършва чрез ползваната Услуга забранени дейности или дейност без
            наличието на разрешение/регистрация за извършване на тази дейност, ако такива
            са изискуеми от закона;
        </li>
        <li>
            Да уведомява незабавно Доставчика за всеки известен му случай на извършено
            или открито нарушение при използване на предоставяната Услуга, включително
            от негови служители или трети лица;
        </li>
        <li>
            Да осигури сам необходимото му за ползване на услугата компютърно
            оборудване, оперативни системи, софтуер и достъп до Интернет.
        </li>
    </ol>
    <strong>Чл. 15.</strong>
    Ползвателят има право :
    <ol>
        <li>Да използва Услугата по предназначение съобразно уговорените параметри;</li>
        <li>
            Да осъществява отдалечен достъп до Услугата, съгласно общите условия,
            законодателството на Република България, приложимите международни закони,
            правото на Европейския съюз или добрите нрави;
        </li>
        <li>
            Да му бъде предоставена отдалечена поддръжка на Услугата от квалифициран
            персонал на Доставчика.
        </li>
    </ol>
    <strong>Чл. 16. </strong>
    Ползвателят се задължава да не използва Услугата за следното:
    <br />
    (1) публикуване, разпространяване или предоставяне по всякакъв начин, данни,
    съобщения, текст, компютърни файлове или други материали, които противоречат на
    българското законодателство, приложимите международни закони, правото на
    Европейския съюз, настоящите общи условия, интернет етиката или добрите нрави и
    които нарушават правата на трети лица като:
    <ol>
        <li>
            Авторски права или сродни на тях права, запазени марки, патент или други права
            на интелектуална собственост, право на собственост, както и всякакви други
            имуществени или неимуществени права или законни интереси на трети лица;
        </li>
        <li>
            представляващи търговска, служебна или лична тайна или друга конфиденциална
            информация;
        </li>
    </ol>
    (2) За публикуване, разпространение или предоставяне софтуер или други
    компютърни файлове, които съдържат вируси или други рискови програми или техни
    компоненти.
    <br />
    (3) За публикуване на данни, съобщения, текстове, компютърни файлове или други
    материали, чието съдържание представлява нарушение и/или престъпление съгласно
    българското законодателство, приложимите международни закони, правото на
    Европейския съюз.
    <br />
    (4) Ползвателят се съгласява да не използва Услугата за изпращане на нежелана поща
    – "СПАМ". Нарушаването на това изискване е основание за временно преустановяване
    на предоставяната Услугата, за което Доставчикът уведомява Ползвателя. При повторно
    действие Доставчика има право да прекрати едностранно предоставянето на услугата без
    предупреждение.
    <br />
    (5) Обработване на лични данни за цели, забранени и/или противоречащи на
    българското законодателство, приложимите международни закони, правото на
    Европейския съюз.
    <br />
    <strong>Чл. 17.</strong>
    В случай на нарушение по предходния член, както и при всяко получаване на
    твърдения от трети лица за нарушение от страна на Ползвател, Доставчикът има право
    по своя преценка да преустановява предоставянето на услугата и да спре достъпа до
    услугата без предупреждение и без да носи отговорност за вреди и/или пропуснати ползи
    и/или загуба на данни на Ползвателя. Във всички случаи, когато Доставчикът е
    преустановил ползването на услугата по вина на Ползвателя или при условията на чл.16,
    Доставчикът не дължи връщане на възнаграждения за срока на преустановяването или
    каквито и да е други обезщетения.
    <h3 class="terms-paragraph-heading">
        VIII. ПРЕКРАТЯВАНЕ НА ДОГОВОРА
    </h3>
    <strong>Чл. 18. </strong>
    Договорът се прекратява:
    <ol>
        <li>с изтичане на срока на договора;</li>
        <li>
            при прекратяване и обявяване в ликвидация или обявяване в несъстоятелност на
            една от страните по договора;
        </li>
        <li>по взаимно съгласие на страните в писмен вид;</li>
        <li>
            при съществено нарушение на клаузите на договора след изтичане на 5 дневен
            срок от отправяне на писмено искане по електронен път за отстраняване на
            нарушението от изправната до неизправната страна по договора, в който срок
            нарушението не е отстранено;
        </li>
        <li>
            при обективна невъзможност на някоя от страните по договора да изпълнява
            задълженията си;
        </li>
        <li>при изземване или запечатване на оборудването от държавни органи.</li>
        <li>
            при преустановяване на плащането на възнаграждението за съответния
            абонаментен план.
        </li>
    </ol>
    <strong>Чл. 19.</strong>
    Доставчикът има право по свое усмотрение, без да отправя предизвестие и без
    да дължи обезщетение да прекрати едностранно настоящия договор, в случай че
    установи, че предоставяната услуга се използва в нарушение на законодателството в
    Република България, приложимите международни закони, правото на Европейския съюз.
    <br />
    <strong>Чл. 20.</strong>
    В случай че настоящият договор бъде едностранно прекратен от Доставчика
    поради виновно неизпълнение на задълженията на Ползвателя, Ползвателят дължи на
    Доставчика неустойка в размер на дължимото възнаграждение за оставащия период на
    договора.
    <br />
    <strong>Чл. 21.</strong>
    В случай на виновно неизпълнение на задълженията на Доставчика за
    предоставяне на Услугата, Ползвателят има право на неустойка в размер на дължимото
    възнаграждение за оставащия период на договора.
    <br />
    <strong>Чл. 22.</strong>
    Независимо от чл. 19, чл. 20 в случай на виновно неизпълнение на
    задълженията си по този договор, Ползвателят дължи на Доставчика обезщетение за
    всички претърпени преки вреди, които са пряка и непосредствена последица от
    неизпълнението на договора.
    <br />
    <strong>Чл. 23.</strong>
    Ползвателят се задължава да обезщети и да освободи от отговорност
    Доставчика при съдебни искове и други претенции на трети лица (независимо дали са
    основателни или не), за всички щети и разходи (в това число адвокатски хонорари и
    съдебни разноски), произтичащи от или във връзка с (1) неизпълнение на някое от
    задълженията по този договор, (2) нарушение на авторски, продуцентски, права на
    излъчване или други права върху интелектуалната или индустриална собственост и (3)
    неправомерно прехвърляне на други лица на правата, предоставени на Ползвателя, за
    срока и при условията на договора.
    <br />
    <strong>Чл. 24.</strong>
    Доставчикът не носи отговорност в случай на невъзможност да предоставя
    свързаност или функциониране на техническото оборудване през определен период от
    време поради непреодолима сила, случайни събития, проблеми в интернет, технически
    или други обективни причини, включително и разпореждания на компетентните
    държавни органи.
    <br />
    <strong> Чл. 25.</strong>
    Доставчикът не носи отговорност за вреди, причинени от Ползвателят на
    трети лица.
    <br />
    <strong>Чл. 26.</strong>
    Доставчикът не носи отговорност за обработване на лични данни
    от Ползвателят за цели, забранени и/или противоречащи на българското
    законодателство, приложимите международни закони, правото на Европейския съюз.
    <h3 class="terms-paragraph-heading">
        IX. ИЗМЕНЕНИЕ И ДОСТЪП ДО ОБЩИТЕ УСЛОВИЯ
    </h3>
    <strong>Чл. 27.</strong>
    <br />
    (1) Настоящите общи условия могат да бъдат изменяни от Доставчика, за което
    последният ще уведоми по подходящ начин всички регистрирани Ползватели на
    услугата.
    <br />
    (2) Доставчикът и Ползвателят се съгласяват, че всяко допълване и изменение на
    тези общи условия ще има действие спрямо Ползвателя след публикуването им от
    Доставчика и ако Ползвателят не заяви в предоставения му 5 дневен срок, че ги отхвърля.
    <h3 class="terms-paragraph-heading">
        X. ДРУГИ УСЛОВИЯ
    </h3>
    <strong>Чл. 28.</strong>
    С подписване на настоящите общи условия Ползвателят се задължава при
    използване на услугата “софтуерен продукт CLARIO” да обработва личните данни
    съгласно разпоредбите на българското законодателство, приложимите международни
    закони, правото на Европейския съюз.
    <br />
    <strong>Чл. 29.</strong>
    Страните се задължават да защитават взаимно своите права и законни интереси,
    както и да пазят търговските си тайни, станали тяхно достояние в процеса на изпълнение
    на този договор.
    <br />
    <strong>Чл. 30.</strong>
    Евентуалната недействителност на някоя от разпоредбите на този договор няма
    да води до недействителност на целия договор.
    <br />
    <strong>Чл. 31.</strong>
    Всички спорове, породени от този договор или отнасящи се до него, ако не могат
    да бъдат уредени по взаимно съгласие между страните чрез преговори, ще бъдат
    отнасяни за решаване от компетентния български съд.
    <br />
    <strong> Чл. 32.</strong>
    За неуредените в този договор въпроси, свързани с изпълнението и тълкуването
    на този договор, се прилагат законите на Република България.
    <h3 class="terms-paragraph-heading">
        XI. ГАРАНЦИИ.
    </h3>
    <strong>Чл. 33. </strong>
    Доставчикът предоставя Услугата с уменията и грижата на добрия търговец.
    С настоящите общи условия Ползвателят приема Услугата , предоставена от Доставчика
    „във вида, в който е“.
    Настоящите общи условия влизат в сила за всички Ползватели на услугата " софтуерен
    продукт CLARIO" от 01.10.2017
</div>